#main-layout{
    .menu {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #2980b9;

        .logo {
            .logo-name {
                font-size: 42px;
                color: #2980b9;
                margin: 0;
            }
        }
        .main-menu{
            display: flex;
            gap: 20px;
            align-items: center;
            .menus{
                cursor: pointer;
            }
            .selected{
                color: #2980b9;
            }
        }

        .menu-options{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding-right: 29px;
            .notification{
                .notification-img{
                    width: 35px;
                }
            }
            .profile{
                .avatar{
                    padding: 10px;
                    border-radius: 21px;
                    background: #2980b9;
                    color: white;
                    &:hover{ 
                        cursor: pointer;
                    }
                }
            }
        }
    } 
}
.job{  
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    .job-title{
        border-bottom: 1px solid;
        display: flex;
        justify-content: space-between;
        .job-name{
            font-size: 20px;
            font-weight: 700;
        }
        .apply{
            margin-right: 25px;
            .applied{
                color: green;
            }
            .application{
                color: #2980b9;
                &:hover{
                cursor: pointer;
                text-decoration: underline;
                }
            }
        }
    }
    .job-details{
        display: flex;
        gap: 20px;
        .job-det{
            display: flex;
            align-items: end;
        }
    }
    .other-details{
        display: flex;
    }
    .date{
        padding: 5px;
        background-color: #297fb98b;
        border-radius: 15px;
    }
}
.title{
    display: flex;
    align-items: flex-end;
    font-weight: 600;
    .sub-title{
    font-weight: 400;

    }
}