.p-button{
    padding: 5px 10px;
    border-radius: 18px;
    text-align: center;
    background-color: #fff;
    color: #2980b9;
    border: 1px solid #2980b9;
    &:hover {
        background-color: #2980b9d6;
        cursor: pointer;
        color: #fff;
    }
    .p-button .p-button-label{
        font-size: 16px;
    }
}
.p-button:focus{
    box-shadow : none
}
.custom-btn{
    .p-button{
        background-color: #2980b9 !important;
        color:  #fff !important;
        border: 1px solid #2980b9;
        &:hover {
            background-color: #2980b9d6!important;
            cursor: pointer;
            color: #fff !important;
        }
    }
}
.p-inputtext, .p-dropdown{
    width: 100% !important;
    box-shadow: none;
}

/* For Chrome, Edge, Safari */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Hides the spinner in WebKit-based browsers */
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield; /* Disables increment/decrement in Firefox */
}