@font-face {
    font-family: 'nunito';
    src: url('../assets/nutino/NunitoSans_10pt-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'nunito';
    src: url('../assets/nutino/NunitoSans_10pt-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'nunito';
    src: url('../assets/nutino/NunitoSans_10pt-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'nunito';
    src: url('../assets/nutino/NunitoSans_10pt-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'nunito';
    src: url('../assets/nutino/NunitoSans_10pt-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'nunito';
    src: url('../assets/nutino/NunitoSans_10pt-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'nunito';
    src: url('../assets/nutino/NunitoSans_10pt-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'nunito';
    src: url('../assets/nutino/NunitoSans_10pt-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'kanit';
    src: url('../assets/nutino/Kanit-Regular.ttf');
    font-weight: 400;
}
$font-primary: 'nunito';
$title-font : 'kanit';
$primary-color: #2980b9;