.post-a-job-form-section{
    display: flex;
    justify-content: center;
    .form-section {
        width: 520px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .form-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .form-input {
                position: relative;
                width: 60%;
                .error-indication {
                    position: absolute;
                    color: red;
                    font-size: 14px;
                }
            }
        }
    }
}
#post-a-job {
    .post-a-job-section {
        margin-top: 100px;
        display: flex;
        .slogan-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;

            .slogans {
                .slogan {
                    font-size: 25px;
                }

                .btn-section {
                    margin-top: 10px;
                    text-align: end;

                    .get-start-btn {
                        padding: 5px 10px;
                        color: #2980b9;
                        border-radius: 18px;
                        text-align: center;
                        border: 1px solid #2980b9;

                        &:hover {
                            color: #FFFFFF;
                            background-color: #2980b9;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .slogan-img-section{
            width: 50%;
            .slogan-img{
                width: 100%;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
        }
    }
}
