<div id="home">
    <div class="menu">
        <div class="logo">
            <p class="logo-name">
                GIGHUB
            </p>
        </div>
        <!-- <div class="menu-options">
            <div class="notification">
                <img class="notification-img" src="../../assets/icon/notification.svg" alt="">
            </div>
            <div class="profile">
                <div class="avatar">
                    R
                </div>
            </div>
        </div> -->
        <div class="registration">
            <div class="login" routerLink="../gighub/login">
                <p-button label="Log in"></p-button>
            </div>
            <div class="login" routerLink="../gighub/sign-up">
                <p-button label="Sign Up"></p-button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="landing-img">
            <img src="../../assets/images/home-img.jpg" alt="">
        </div>
        <div class="slogan-section">
            <div class="slogans">
                <p class="slogan">
                    Work hard, play harder.
                </p>
                <p class="slogan">
                    Get top-notch local services, with a smile.
                </p>
                <div class="btn-section">
                    <p-button class="custom-btn" routerLink="../gighub/sign-up" label="Get Started"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
